<div class="box box-default">
    <div class="box-body">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="name">姓名</label>
                        <input class="form-control" id="name">
                    </div>
                    <div class="col-xs-2">
                        <label for="username">用户名</label>
                        <input class="form-control" id="username">
                    </div>
                </div>
            </div>
            <div class="form-group">

                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-sticky-note"></i> 详细详细详细详细详细</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-sticky-note"></i> 详细详细详细详细详细</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-sticky-note"></i> 详细详细详细详细详细</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-sticky-note"></i> 详细详细详细详细详细</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-sticky-note"></i> 详细详细详细详细详细</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-sticky-note"></i> 详细详细详细详细详细</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
            </div>
        </form>
        <hr>
        <table id="sysUser_datatable" class="table table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="../script/sys/sysUser.js"></script>
